

/* تنسيقات خاصة بالهيدر */

ul.lang-box {
  display: none;

  position: absolute;
  left: -16px;
  top: 45px;
  z-index: 5;

  background-color: #1b1b1b;
  border-top: 1px solid cyan;
  width: 130px;
  border-radius: 5px;
}

li.lang:hover ul.lang-box {
  display: block;
}

ul.lang-box li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8px;
  text-align: start;
  border-bottom: 1px solid black;
  font-size: 14px;
  transition: 0.15s;
}

ul.lang-box li:hover {
  background-color: #151515;
  font-size: 15px;
  cursor: pointer;
}

.main-list {
  padding: 10px 15px 14px;
  position: relative;
}

.myheader .othman {
  background-color: teal;
}

.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.signout {
  all: unset;
  padding: 8px 15px;
}

.main-link {
  padding: 8px 15px;
}

.main-link:hover,
.main-link.active {
  color: cyan;
  box-shadow: 0 0 5px cyan;
  border-radius: 5px;
}

/* ==================
    3. header  mobile
===================== */

.logo {
  animation: logoani 25s infinite;
}

@keyframes logoani {
  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    letter-spacing: 7px;
    opacity: 1;
  }
}

.logo:hover {
  font-size: x-large;
}

@keyframes down {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

header {
  padding: 5px 0;
  animation: down 1s 1;
}
