/* =================
 table of contents
===================== 
1-  title
2- sub-task section
3- Add-more BTN && Delete BTN 
** Colors for Light Theme **/

.edit-task {
  min-height: calc(100vh - 133px);
}

/* ==============================
1-  title
تنسيقات العناون
=================================*/
.edit-task .title-input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;

  font-weight: bold;
  margin-top: 11px;
}


.edit-task .title-input:focus {
  outline: none;
}



.edit-task .fa-pen-to-square {
  font-size: 18px;
  transition: 0.2s;
  margin-left: 11px;
}

.edit-task .fa-pen-to-square:hover {
  font-size: 20px;
  cursor: pointer;
}

/* ==============================
2- sub-task section
=================================*/
.edit-task section.sub-task {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}
.edit-task .parent-time {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.Dark .edit-task .time time ,.Dark  .edit-task p.time {
  color: #f5f5f5;
}
.edit-task .time time, .edit-task p.time   {
  font-size: 14px;
  color: rgb(26, 14, 5);
  letter-spacing: 1px;
}

.edit-task #checkbox {
  width: 18px;
  height: 18px;

  accent-color: rgb(26, 156, 156);
}

.edit-task label {
  font-size: 17px;
  margin-left: 11px;

  position: relative;
  bottom: 3px;
}

.edit-task .card-task {
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 15%);
  background-color: rgb(65, 71, 84);
  padding: 16px;
  border-radius: 5px;
  transition: 0.2s;

  justify-content: space-between;
  margin-bottom: 11px;
}

.edit-task .card-task:hover {
  background-color: rgb(74, 82, 97);
  border-left: 4px solid wheat;
}

.edit-task .fa-trash {
  padding-right: 19px;
  color: rgb(237, 181, 181);
}

.edit-task .add,
.edit-task .cancel {
  background-color: teal;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  margin-left: 11px;
}

.edit-task .add-new-task{
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 15%);
  background-color: rgb(65, 71, 84);
  border-radius: 5px;
  animation: subtask  0.9s;
}

@keyframes subtask {
  0%   {scale: 0;}

  50%  { scale: 1.3;}

  100% { scale: 1;}
} 




.edit-task input.add-task{
  margin: 12px 0 12px 12px;
}
/* ==============================
3- Add-more BTN && Delete BTN 
=================================*/

.edit-task .add-more-btn {
  background-color: teal;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
}

.edit-task .delete {
  border-radius: 5px;
  border: none;
}

/* ==============================
** Colors for Light Theme **
=================================*/
.Light .edit-task .title-input,
.Light .fa-pen-to-square,
.Light label,
.Light .time {
  color: rgb(65, 71, 84);
}
